# Database Configuration
DATABASE_URL=
# OAuth Configuration
# -->Account weblem00@gmail.com
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
#--> facebook
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Redis Configuration
# REDIS_HOST=
# REDIS_PORT=6379
# REDIS_PASSWORD=dev_redis_password
# REDIS_URL=redis://localhost:6379

# Application Configuration
NODE_ENV=
# NEXTAUTH_URL=https://lembooking.com
#auth.js cần AUTH_URL để thông báo với auth lembooking.com là trust url
NEXT_PUBLIC_APP_URL=
AUTH_URL=
AUTH_TRUST_HOST=true #optional cho reverse proxy
AUTH_SECRET=
 # Added by `npx auth`. Read more: https://cli.authjs.dev


RESEND_API_KEY=
# RESEND_FROM_EMAIL=onboarding@resend.dev # Default Resend test email (only for testing)
RESEND_FROM_EMAIL=


# Logging Configuration
ENABLE_DEV_LOGGING=true


